{% extends "base.html"%}
{% block title %}Max Tempature {% endblock %}
{% block header_image %}
<image src="{{url_for('static', filename='images/Latitude vs. Max Temperature.jpg')}}" href="/tempature"
alt="Temperature" class="w3-image w3-padding-32 w3-hover-orange" width="500" height="500"></image>
{% endblock %}
{% block title_summary %}Max Tempature{% endblock %}
{% block paragraph %}<p>As expected, the weather becomes significantaly warmer as one approaches the equator (Deg. Latitude). More interestingly, however, is the fact that the southern hemisphere tends to be warmer this time of the year than the northern hemisphere. 
    This may be due to the tilt of the earth at the time of the year this data was gathered.</p>
{% endblock %}